body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
.ant-layout-sider{
  background:#F5F5F5 !important;
}
.ant-menu{
  background:#F5F5F5 !important;
}
.ant-modal-footer{
  display: none;
}
.ant-form-item-control-input-content {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.ant-row{
  margin-bottom: 10px;
}